* {
    main-bg:            #161616;
      main-fg:            #ffffff;
      main-br:            #f97e72ff;
      main-ex:            #42be65;
      select-bg:          #82cfff;
      select-fg:          #33b1ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
